

  <div id="foodList" ng-controller="foodListController" class="">
    <div id="mainFrame" class="col-md-12" ng-controller="foodListController">
      <div><h1>Select your favourite ingridients...</h1></div>

          <input type="checkbox" id="ig0" value="sundae"><label for="ig0">Sundae</label></br>
          <input type="checkbox" id="ig1" value="tacos"><label for="ig1">Tacos</label></br>
          <input type="checkbox" id="ig2" value="tomato"><label for="ig2">Tomato</label></br>
          <input type="checkbox" id="ig3" value="meat"><label for="ig3">Meat</label></br>
          <input type="checkbox" id="ig4" value="pizza"><label for="ig4">Pizza</label></br>
          <input type="checkbox" id="ig5" value="lettuce"><label for="ig5">Lettuce</label></br>
          <input type="checkbox" id="ig6" value="chicken"><label for="ig6">Chicken</label></br>
          <input type="checkbox" id="ig7" value="chocolate"><label for="ig7">Chocolate</label></br>
          <input type="checkbox" id="ig8" value="crust"><label for="ig8">Crust</label></br>
          <input type="checkbox" id="ig9" value="cheese"><label for="ig9">Cheese</label></br>
          <input type="checkbox" id="ig10" value="kebab"><label for="ig10">Kebab</label></br>
          <input type="checkbox" id="ig11" value="barbecue"><label for="ig11">Barbecue</label></br>
          <input type="checkbox" id="ig12" value="salt"><label for="ig12">Salt</label></br>
          <input type="checkbox" id="ig13" value="avacado"><label for="ig13">Avacado</label></br>
          <input type="checkbox" id="ig14" value="chicken wings"><label for="ig14">Chicken Wings</label></br>
          <input type="checkbox" id="ig15" value="berry"><label for="ig15">Berry</label></br>
          <input type="checkbox" id="ig16" value="vegetable"><label for="ig16">Vegetable</label></br>
          <input type="checkbox" id="ig17" value="fish"><label for="ig17">Fish</label></br>
          <input type="checkbox" id="ig18" value="corn"><label for="ig18">Corn</label></br>
          <input type="checkbox" id="ig19" value="cream"><label for="ig19">Cream</label></br>
          <input type="checkbox" id="ig20" value="onion"><label for="ig20">Onion</label></br>
          <input type="checkbox" id="ig21" value="salad"><label for="ig21">Salad</label></br>
          <input type="checkbox" id="ig22" value="beef"><label for="ig22">Beef</label></br>
          <input type="checkbox" id="ig23" value="sweet"><label for="ig23">Sweet</label></br>
          <input type="checkbox" id="ig24" value="cake"><label for="ig24">Cake</label></br>
          <input type="checkbox" id="ig25" value="pie"><label for="ig25">Pie</label></br>
          <input type="checkbox" id="ig26" value="jam"><label for="ig26">Jam</label></br>
          <input type="checkbox" id="ig27" value="milk"><label for="ig27">Milk</label></br>
          <input type="checkbox" id="ig28" value="candy"><label for="ig28">Candy</label></br>
          <input type="checkbox" id="ig29" value="pastry"><label for="ig29">Pastry</label></br>
      </div>
      <div ng-click="new()">
        <div class="btn btn-danger col-md-12" >Submit</div>
      </div>
    </div>
    <div id="disp" class="col-md-5" ng-if="bgSet.name" >

      <div style="background-image:url({{bgSet.image}})"></div>
      <div class="name-box"><span class="dish-name">{{bgSet.name}}</span> </br>could probably be your favourite dish*</div>
    </div>
    <div ng-hide="bgSet.name">Try selecting relevent elements</div>
    </div>
  </div>
